{% extends 'base.html'%}

{% block content %}
<title> {% block title %} establishments </title>{% endblock %}
 <table class="table table-striped table-bordered">
  <thead>
    <tr>
        <th scope="col">name</th>
        <th scope="col">category</th>
        <th scope="col">address</th>
        <th scope="col">phone</th>
    </tr>
  </thead>
  <tbody>
    {% for establishment in establishments %}
        <tr>
            <td>{{establishment.name }}</td>
            <td>{{establishment.get_category_display }}</td>
            <td>{{establishment.address }}</td>
            <td>{{establishment.phone }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}